<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-expand-md navbar-light bg-white">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
              <img src="{{ .Site.BaseURL }}img/logo.png" alt="{{ .Site.Title }} Logo">
            </a>
          <!--</div>-->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item" ><a class="nav-link" href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a></li>
              {{ range .Site.Menus.header }}
                <li class="nav-item ml-4" ><a class="nav-link" href="{{ .URL }}/">{{ .Name }}</a></li>
              {{ end }}
              </ul>
            </div><!-- /.navbar-collapse -->
          <!--</div>--><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
